//Color
$main:#0f0e17;
$secondary:#f25f4c;
$highlight:#ff8906;
$paragraph:#a7a9be;

//Sizes

$h1: 28px;
$h1-tablet-desktop: 40px;
$h2: 22px;
$h2-tablet-desktop: 34px;
$h3: 18px;
$h3-tablet-desktop: 30px;
$p: 15px;
$p-tablet-desktop: 22px;

//screen-sizes
$tablet: 768px;
$desktop: 992px;

//margin
$margin-bottom: 40px;
