.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    margin-bottom: $margin-bottom;
     &__h1 {
         color: $secondary;
         font-size: $h1;
         margin: 20px;
         @include tablet {
             font-size: $h1-tablet-desktop;
         }
     }
     &__p {
         color: $paragraph;
         font-size: $p;
         max-width: 70%;
         font-family: Georgia, 'Times New Roman', Times, serif;
         margin-bottom: 30px;
     }
}
