.container {
    margin: 10px;
    display: flex;
    align-items: center;
}

.container__navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     &__items a{
         background-color: $paragraph;
         padding: 4px 4px;
         margin: 4px;
         border-radius: 30px;
          @include tablet{
            padding: 10px 20px;
            margin: 5px 15px;
          }
     }
     &__items a:hover {
         background-color: $secondary;
         transition: 0.3s;
     }
     &__items a:not(:hover) {
         transition: 0.5s;
     }
}