@import "./base/_main";
@import "./header/_header";
@import "./navigation/_navigation";
@import "./section/first-content/_bio.scss";
@import "./section/second-content/_gallery";
@import "./footer/_footer";